
body{
  font-family: OCR A Std;
    background-color: #f1f1f1;
    padding: 20px;
    margin:0px;
}

    .topnav {
      background-color: #333;
      overflow: hidden;
    }
    
    .topnav a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 30px;
      text-decoration: none;
      font-size: 17px;
    }
    
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }
    
    .topnav a.active {
      background-color: #6c9ca5;
      color: white;
    }
    p {
      text-indent: 50px;
      text-align: justify;
      text-align: center;
      letter-spacing: 3px;
      color: #708090;
    }
    h1{
      text-align: left;
      text-transform: uppercase;
      color: #708090;  
    }
    
    
    @media screen and (max-width: 500px) {
      .navbar a {
        float: none;
        display: block;
      }
    }
    
    .glow {
      font-size: 20px;
      color: #fff;
      text-align: center;
      -webkit-animation: glow 1s ease-in-out infinite alternate;
      -moz-animation: glow 1s ease-in-out infinite alternate;
      animation: glow 1s ease-in-out infinite alternate;
    }
    
    @-webkit-keyframes glow {
      from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #778899, 0 0 40px #778899, 0 0 50px #778899, 0 0 60px #778899, 0 0 70px #778899;
      }
      
      to {
        text-shadow: 0 0 20px #fff, 0 0 30px #C0C0C0, 0 0 40px #C0C0C0, 0 0 50px #C0C0C0, 0 0 60px #C0C0C0, 0 0 70px #C0C0C0, 0 0 80px #C0C0C0;
      }
    }
    
    .glow1 {
      font-size: 100px;
      color: #fff;
      text-align: center;
      -webkit-animation: glow 1s ease-in-out infinite alternate;
      -moz-animation: glow 1s ease-in-out infinite alternate;
      animation: glow 1s ease-in-out infinite alternate;
    }
    
    @-webkit-keyframes glow1 {
      from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #778899, 0 0 40px #778899, 0 0 50px #778899, 0 0 60px #778899, 0 0 70px #778899;
      }
      
    }
    